In [218]:
import pandas as pd
import numpy as np

In [219]:
df1 = pd.read_csv('data/tmdb_5000_credits.csv')
df2 = pd.read_csv('data/tmdb_5000_movies.csv')

In [220]:
df1.columns = ['id', 'title', 'cast', 'crew']

In [221]:
df_temp = df1[['id', 'cast', 'crew']]

In [222]:
df2 = df2.merge(df_temp, on='id')

In [223]:
df2['overview'].isnull().any()

True

In [224]:
df2['overview'] = df2['overview'].fillna('')

In [225]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(stop_words='english')

In [226]:
tfidf_matrix = tfidf.fit_transform(df2['overview'])

In [227]:
from sklearn.metrics.pairwise import linear_kernel
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [228]:
indices = pd.Series(df2.index, index=df2['title']).drop_duplicates()
indices

title
Avatar                                         0
Pirates of the Caribbean: At World's End       1
Spectre                                        2
The Dark Knight Rises                          3
John Carter                                    4
                                            ...
El Mariachi                                 4798
Newlyweds                                   4799
Signed, Sealed, Delivered                   4800
Shanghai Calling                            4801
My Date with Drew                           4802
Length: 4803, dtype: int64

In [229]:
indices['The Dark Knight Rises']

3

In [234]:
test_sim_scores = list(enumerate(cosine_sim[3]))
test_sim_scores

[(0, 0.024995115837672686),
 (1, 0.0),
 (2, 0.0),
 (3, 0.9999999999999994),
 (4, 0.010433403719159351),
 (5, 0.005144601815810792),
 (6, 0.012600632435462458),
 (7, 0.02695427057891266),
 (8, 0.0206522168853895),
 (9, 0.13374009066555226),
 (10, 0.0),
 (11, 0.0),
 (12, 0.0),
 (13, 0.0),
 (14, 0.0),
 (15, 0.0040713339225121065),
 (16, 0.021121093874993176),
 (17, 0.0),
 (18, 0.006768893195007469),
 (19, 0.010765175685064705),
 (20, 0.007178266390761149),
 (21, 0.033380775071488206),
 (22, 0.0),
 (23, 0.0),
 (24, 0.019238168304196286),
 (25, 0.01701338816136818),
 (26, 0.018845673291717255),
 (27, 0.0),
 (28, 0.008351231142809444),
 (29, 0.025822481310689406),
 (30, 0.017549884233472455),
 (31, 0.029947529512076916),
 (32, 0.021708602796233874),
 (33, 0.0),
 (34, 0.0),
 (35, 0.0),
 (36, 0.028418448812136614),
 (37, 0.0),
 (38, 0.03063154796496604),
 (39, 0.010885225876310316),
 (40, 0.0),
 (41, 0.021109848007926996),
 (42, 0.008087287409335876),
 (43, 0.0),
 (44, 0.0),
 (45, 0.008667206203132948),
 (46, 0.0),
 (47, 0.008370116577193958),
 (48, 0.0),
 (49, 0.0),
 (50, 0.028358356657578094),
 (51, 0.004419554664706979),
 (52, 0.016300101955129626),
 (53, 0.014997203964410092),
 (54, 0.0),
 (55, 0.0),
 (56, 0.04956374277303491),
 (57, 0.01145541558868813),
 (58, 0.02654930257434054),
 (59, 0.0),
 (60, 0.008984081816033438),
 (61, 0.0),
 (62, 0.0),
 (63, 0.0),
 (64, 0.0),
 (65, 0.3015117659166547),
 (66, 0.005466012755015321),
 (67, 0.0),
 (68, 0.0),
 (69, 0.0),
 (70, 0.0),
 (71, 0.0),
 (72, 0.0),
 (73, 0.0),
 (74, 0.0),
 (75, 0.0),
 (76, 0.011514748776656474),
 (77, 0.01836218734783552),
 (78, 0.0),
 (79, 0.004639951738459665),
 (80, 0.020403986885742353),
 (81, 0.0),
 (82, 0.0),
 (83, 0.0),
 (84, 0.01109562133045519),
 (85, 0.039722788310392866),
 (86, 0.023834637685288176),
 (87, 0.0),
 (88, 0.0),
 (89, 0.006901163451631842),
 (90, 0.0),
 (91, 0.032673490331064765),
 (92, 0.013909786991724973),
 (93, 0.024108412591485752),
 (94, 0.01989910569165518),
 (95, 0.0),
 (96, 0.0),
 (97, 0.02519165976119546),
 (98, 0.0),
 (99, 0.0),
 (100, 0.0),
 (101, 0.0060086202216177425),
 (102, 0.01729354353894336),
 (103, 0.01476541531090013),
 (104, 0.0),
 (105, 0.006827526424670162),
 (106, 0.0),
 (107, 0.0),
 (108, 0.020837965840053214),
 (109, 0.0),
 (110, 0.0),
 (111, 0.0),
 (112, 0.0),
 (113, 0.015393911395739245),
 (114, 0.0),
 (115, 0.004582195354771823),
 (116, 0.029428475554627843),
 (117, 0.0),
 (118, 0.0),
 (119, 0.167996261998507),
 (120, 0.004967649962522657),
 (121, 0.017835345763761418),
 (122, 0.015686141721471005),
 (123, 0.02765299025859778),
 (124, 0.0),
 (125, 0.004601262695517276),
 (126, 0.017812053858174755),
 (127, 0.014869787303643052),
 (128, 0.011605892485339274),
 (129, 0.0),
 (130, 0.028020498505539594),
 (131, 0.0),
 (132, 0.011065964977875101),
 (133, 0.0),
 (134, 0.0),
 (135, 0.0),
 (136, 0.05382976624450387),
 (137, 0.008883897054844549),
 (138, 0.0),
 (139, 0.04537230110999061),
 (140, 0.0),
 (141, 0.0),
 (142, 0.0),
 (143, 0.004606862711209117),
 (144, 0.0),
 (145, 0.01112459692133813),
 (146, 0.008317327524856892),
 (147, 0.015811113048024565),
 (148, 0.019303805804473762),
 (149, 0.0),
 (150, 0.0051519042140923945),
 (151, 0.0),
 (152, 0.0),
 (153, 0.02634811656500167),
 (154, 0.04108719099965725),
 (155, 0.0),
 (156, 0.0),
 (157, 0.018489188754795962),
 (158, 0.0),
 (159, 0.0),
 (160, 0.056387288475695484),
 (161, 0.0),
 (162, 0.0),
 (163, 0.0),
 (164, 0.0),
 (165, 0.0),
 (166, 0.05328858662752756),
 (167, 0.0),
 (168, 0.028588812451723965),
 (169, 0.02399886625277261),
 (170, 0.04815758597763415),
 (171, 0.01738818048377128),
 (172, 0.04140039692840093),
 (173, 0.017304568426605427),
 (174, 0.005605318477839425),
 (175, 0.0),
 (176, 0.0),
 (177, 0.0),
 (178, 0.010421139129967987),
 (179, 0.03843748677355905),
 (180, 0.01821761931356488),
 (181, 0.0),
 (182, 0.02827689506002115),
 (183, 0.0),
 (184, 0.00401715023544039),
 (185, 0.006705822747118491),
 (186, 0.0),
 (187, 0.0),
 (188, 0.005432026720538354),
 (189, 0.05198684818799028),
 (190, 0.0),
 (191, 0.0),
 (192, 0.032449840012920964),
 (193, 0.007852864578519508),
 (194, 0.0),
 (195, 0.00582425526970245),
 (196, 0.007641238598668193),
 (197, 0.0),
 (198, 0.05321038424109083),
 (199, 0.0),
 (200, 0.0),
 (201, 0.0),
 (202, 0.0),
 (203, 0.0),
 (204, 0.0),
 (205, 0.0072587195824861854),
 (206, 0.0),
 (207, 0.0),
 (208, 0.0),
 (209, 0.023727382552120806),
 (210, 0.13045537014449815),
 (211, 0.0),
 (212, 0.037324913794021974),
 (213, 0.0),
 (214, 0.0),
 (215, 0.03722355405890207),
 (216, 0.0),
 (217, 0.0156911965796731),
 (218, 0.0),
 (219, 0.0),
 (220, 0.0),
 (221, 0.0),
 (222, 0.0),
 (223, 0.007909063391451093),
 (224, 0.021991232102962773),
 (225, 0.02338806168938226),
 (226, 0.0),
 (227, 0.0),
 (228, 0.0),
 (229, 0.015668417779476057),
 (230, 0.02238486524904606),
 (231, 0.0),
 (232, 0.0),
 (233, 0.0),
 (234, 0.005416120563002781),
 (235, 0.0),
 (236, 0.03211950994841881),
 (237, 0.0),
 (238, 0.055637188916219035),
 (239, 0.0),
 (240, 0.0),
 (241, 0.004843532442353236),
 (242, 0.02849630915359723),
 (243, 0.0),
 (244, 0.0),
 (245, 0.0),
 (246, 0.03776482185188283),
 (247, 0.0),
 (248, 0.006798420234323752),
 (249, 0.0),
 (250, 0.0),
 (251, 0.0),
 (252, 0.01263339999158472),
 (253, 0.003560441867745557),
 (254, 0.0),
 (255, 0.010122999001271666),
 (256, 0.013403248925391858),
 (257, 0.0),
 (258, 0.0026375145494349334),
 (259, 0.006604947195931122),
 (260, 0.0),
 (261, 0.0),
 (262, 0.03981572576257153),
 (263, 0.0),
 (264, 0.008799376722262713),
 (265, 0.0),
 (266, 0.01148211368482937),
 (267, 0.0),
 (268, 0.0),
 (269, 0.0),
 (270, 0.0),
 (271, 0.0),
 (272, 0.02638073666465946),
 (273, 0.0),
 (274, 0.013794380725284881),
 (275, 0.04699106659570475),
 (276, 0.01734794263257973),
 (277, 0.013927075303072745),
 (278, 0.0),
 (279, 0.023069466750053558),
 (280, 0.01483501708410784),
 (281, 0.04850690747212833),
 (282, 0.011076592401190926),
 (283, 0.029454308648673936),
 (284, 0.005613295921749951),
 (285, 0.014375220444975096),
 (286, 0.06866383939743478),
 (287, 0.0),
 (288, 0.018954785191161304),
 (289, 0.0030400430800127175),
 (290, 0.02674951778238011),
 (291, 0.0),
 (292, 0.0),
 (293, 0.0),
 (294, 0.0),
 (295, 0.01087229615713394),
 (296, 0.04011422178740381),
 (297, 0.0),
 (298, 0.006069530957620156),
 (299, 0.2985704525539681),
 (300, 0.0),
 (301, 0.0),
 (302, 0.004199020500120461),
 (303, 0.00502862663077138),
 (304, 0.043301851324804665),
 (305, 0.0),
 (306, 0.0),
 (307, 0.03157355810456818),
 (308, 0.0),
 (309, 0.0),
 (310, 0.0033919366519925285),
 (311, 0.010398151316103808),
 (312, 0.0),
 (313, 0.0),
 (314, 0.0),
 (315, 0.004422195303905181),
 (316, 0.011024342093847618),
 (317, 0.0),
 (318, 0.0),
 (319, 0.0),
 (320, 0.0),
 (321, 0.034081879545985516),
 (322, 0.0),
 (323, 0.0),
 (324, 0.034747394754250746),
 (325, 0.006948743879506471),
 (326, 0.0),
 (327, 0.0),
 (328, 0.0),
 (329, 0.016357637902257045),
 (330, 0.0),
 (331, 0.0),
 (332, 0.0),
 (333, 0.0),
 (334, 0.004836941913083932),
 (335, 0.0),
 (336, 0.0),
 (337, 0.0),
 (338, 0.0),
 (339, 0.013704587734984671),
 (340, 0.0),
 (341, 0.0056089564629699905),
 (342, 0.03925347760202695),
 (343, 0.0),
 (344, 0.0),
 (345, 0.0),
 (346, 0.0),
 (347, 0.0),
 (348, 0.0055549156223129205),
 (349, 0.0),
 (350, 0.0),
 (351, 0.024998796675161288),
 (352, 0.0),
 (353, 0.0),
 (354, 0.0060588174215235845),
 (355, 0.024714784595197162),
 (356, 0.007619002081246001),
 (357, 0.013972190936862881),
 (358, 0.0),
 (359, 0.039038636330984644),
 (360, 0.0),
 (361, 0.010722257362842222),
 (362, 0.007624190280702448),
 (363, 0.0),
 (364, 0.0),
 (365, 0.0),
 (366, 0.0),
 (367, 0.0),
 (368, 0.0),
 (369, 0.03968920576233664),
 (370, 0.029668435323907137),
 (371, 0.0),
 (372, 0.0),
 (373, 0.0),
 (374, 0.0),
 (375, 0.003873755160807043),
 (376, 0.02854165335128061),
 (377, 0.0040404561509161194),
 (378, 0.0),
 (379, 0.004117591373836145),
 (380, 0.0),
 (381, 0.0),
 (382, 0.0),
 (383, 0.0),
 (384, 0.0),
 (385, 0.0),
 (386, 0.0),
 (387, 0.0),
 (388, 0.0),
 (389, 0.037437053017183294),
 (390, 0.0),
 (391, 0.0036970647958324424),
 (392, 0.041737373096882295),
 (393, 0.004561138780984188),
 (394, 0.0),
 (395, 0.0),
 (396, 0.0),
 (397, 0.014511153255282346),
 (398, 0.016749768571176125),
 (399, 0.0),
 (400, 0.02806888722811486),
 (401, 0.025352330605289505),
 (402, 0.008515312510534535),
 (403, 0.00538025800806125),
 (404, 0.011527860171776573),
 (405, 0.022747389486920684),
 (406, 0.0),
 (407, 0.007848524509808599),
 (408, 0.0),
 (409, 0.0),
 (410, 0.0),
 (411, 0.0),
 (412, 0.0),
 (413, 0.0),
 (414, 0.009394503853080244),
 (415, 0.022897180758222554),
 (416, 0.0),
 (417, 0.0),
 (418, 0.0),
 (419, 0.024060714060476295),
 (420, 0.0),
 (421, 0.012764224459658963),
 (422, 0.0),
 (423, 0.0),
 (424, 0.02289931510614421),
 (425, 0.016982139718431603),
 (426, 0.014998623088502786),
 (427, 0.0),
 (428, 0.2878505467001693),
 (429, 0.006147434170676051),
 (430, 0.00470618090056109),
 (431, 0.0),
 (432, 0.0),
 (433, 0.0),
 (434, 0.0),
 (435, 0.006966363756456713),
 (436, 0.004994615362565934),
 (437, 0.0),
 (438, 0.0),
 (439, 0.013518445110818374),
 (440, 0.015513391905168355),
 (441, 0.0),
 (442, 0.04305724012803792),
 (443, 0.0),
 (444, 0.0),
 (445, 0.0),
 (446, 0.0),
 (447, 0.009647569118333045),
 (448, 0.008785575205528607),
 (449, 0.04702075593118838),
 (450, 0.004225953101122849),
 (451, 0.0),
 (452, 0.0),
 (453, 0.011176868121732212),
 (454, 0.0),
 (455, 0.0),
 (456, 0.014954868857331728),
 (457, 0.0),
 (458, 0.0),
 (459, 0.0),
 (460, 0.0),
 (461, 0.0),
 (462, 0.0),
 (463, 0.0),
 (464, 0.0),
 (465, 0.006851991767686716),
 (466, 0.010839258474167461),
 (467, 0.0),
 (468, 0.0),
 (469, 0.0322044923643026),
 (470, 0.0),
 (471, 0.0),
 (472, 0.028267591905486632),
 (473, 0.0),
 (474, 0.0),
 (475, 0.0),
 (476, 0.01095791290790321),
 (477, 0.0),
 (478, 0.012876722207052393),
 (479, 0.004811403887831712),
 (480, 0.0),
 (481, 0.0),
 (482, 0.0),
 (483, 0.0),
 (484, 0.0),
 (485, 0.018839787404056254),
 (486, 0.028538272319874748),
 (487, 0.0),
 (488, 0.005040718899407151),
 (489, 0.0),
 (490, 0.0),
 (491, 0.0),
 (492, 0.0),
 (493, 0.0),
 (494, 0.0),
 (495, 0.0),
 (496, 0.0),
 (497, 0.006215105570904382),
 (498, 0.0),
 (499, 0.0),
 (500, 0.010422600856505131),
 (501, 0.0),
 (502, 0.030069399054761754),
 (503, 0.014434423550061583),
 (504, 0.0),
 (505, 0.0),
 (506, 0.009754079225827952),
 (507, 0.0),
 (508, 0.005969841813625508),
 (509, 0.004518891263300241),
 (510, 0.0),
 (511, 0.028422972525677364),
 (512, 0.0),
 (513, 0.013781537754424715),
 (514, 0.0),
 (515, 0.0),
 (516, 0.0),
 (517, 0.0),
 (518, 0.0042357686706969945),
 (519, 0.0),
 (520, 0.0),
 (521, 0.0),
 (522, 0.0),
 (523, 0.0),
 (524, 0.0),
 (525, 0.0),
 (526, 0.0),
 (527, 0.0),
 (528, 0.019947702949836374),
 (529, 0.03718436565255272),
 (530, 0.007674139036513075),
 (531, 0.00931786513621838),
 (532, 0.0),
 (533, 0.0),
 (534, 0.0),
 (535, 0.0),
 (536, 0.0),
 (537, 0.0),
 (538, 0.014682417305252889),
 (539, 0.0),
 (540, 0.004321661832351153),
 (541, 0.008965851568113008),
 (542, 0.0),
 (543, 0.0),
 (544, 0.0),
 (545, 0.012211661956258335),
 (546, 0.0),
 (547, 0.0),
 (548, 0.0),
 (549, 0.026051576649055573),
 (550, 0.010283799766484835),
 (551, 0.014223150287082369),
 (552, 0.0),
 (553, 0.0),
 (554, 0.0),
 (555, 0.0),
 (556, 0.00558474979708147),
 (557, 0.0),
 (558, 0.0),
 (559, 0.0),
 (560, 0.0),
 (561, 0.03133684618426432),
 (562, 0.0),
 (563, 0.0),
 (564, 0.019431962731086445),
 (565, 0.0),
 (566, 0.0),
 (567, 0.004099920531901818),
 (568, 0.0),
 (569, 0.03076229549331103),
 (570, 0.022452693953577043),
 (571, 0.0),
 (572, 0.0),
 (573, 0.0),
 (574, 0.031378939243315196),
 (575, 0.009776595843078382),
 (576, 0.04045920236760753),
 (577, 0.0),
 (578, 0.0),
 (579, 0.0),
 (580, 0.016935725113926284),
 (581, 0.0),
 (582, 0.02670926950147552),
 (583, 0.024907239812251104),
 (584, 0.0),
 (585, 0.0),
 (586, 0.01546161253106158),
 (587, 0.011376202068396839),
 (588, 0.009197594805883634),
 (589, 0.03841846242882965),
 (590, 0.06691123930989946),
 (591, 0.0),
 (592, 0.0),
 (593, 0.0),
 (594, 0.0),
 (595, 0.0),
 (596, 0.0),
 (597, 0.008797930425405937),
 (598, 0.03579469367796652),
 (599, 0.00934195962177355),
 (600, 0.014250603497467724),
 (601, 0.005720089382186439),
 (602, 0.05257589283646237),
 (603, 0.0),
 (604, 0.0),
 (605, 0.01865065854523476),
 (606, 0.01689752558999661),
 (607, 0.02748293341384507),
 (608, 0.0),
 (609, 0.0),
 (610, 0.0),
 (611, 0.016917883999943602),
 (612, 0.009024703059814806),
 (613, 0.0),
 (614, 0.06410355106132812),
 (615, 0.04963450161220296),
 (616, 0.0),
 (617, 0.0),
 (618, 0.0),
 (619, 0.0),
 (620, 0.0),
 (621, 0.0),
 (622, 0.013903627921359752),
 (623, 0.0),
 (624, 0.0),
 (625, 0.0),
 (626, 0.0),
 (627, 0.025200941938151294),
 (628, 0.020482136404785575),
 (629, 0.00470236256700869),
 (630, 0.0050527170649101415),
 (631, 0.0),
 (632, 0.0204743120399674),
 (633, 0.0),
 (634, 0.0),
 (635, 0.0),
 (636, 0.0),
 (637, 0.0),
 (638, 0.0),
 (639, 0.0),
 (640, 0.0071507963547799884),
 (641, 0.0),
 (642, 0.0),
 (643, 0.00855517025853795),
 (644, 0.0),
 (645, 0.0),
 (646, 0.0),
 (647, 0.061131846845747115),
 (648, 0.0),
 (649, 0.0),
 (650, 0.0),
 (651, 0.0),
 (652, 0.012160362085977181),
 (653, 0.0),
 (654, 0.0064220940204347465),
 (655, 0.0),
 (656, 0.0),
 (657, 0.013530658382482373),
 (658, 0.013202309107497234),
 (659, 0.0),
 (660, 0.0),
 (661, 0.0),
 (662, 0.005238449712920694),
 (663, 0.007007058524071613),
 (664, 0.008259685597076552),
 (665, 0.0),
 (666, 0.009823588812871977),
 (667, 0.0),
 (668, 0.057651269727644214),
 (669, 0.033140858883420374),
 (670, 0.020286710194779345),
 (671, 0.0),
 (672, 0.052125772974665904),
 (673, 0.005665395102159486),
 (674, 0.0325841099838783),
 (675, 0.0),
 (676, 0.0),
 (677, 0.0),
 (678, 0.0),
 (679, 0.0061799262331011),
 (680, 0.0),
 (681, 0.0),
 (682, 0.0),
 (683, 0.0),
 (684, 0.0),
 (685, 0.0),
 (686, 0.0),
 (687, 0.0),
 (688, 0.0),
 (689, 0.0),
 (690, 0.0189893644597485),
 (691, 0.005655903442126627),
 (692, 0.0),
 (693, 0.0),
 (694, 0.02961695482762622),
 (695, 0.034706039250338376),
 (696, 0.007905217080311212),
 (697, 0.0),
 (698, 0.015537488782031785),
 (699, 0.0),
 (700, 0.0),
 (701, 0.0),
 (702, 0.0),
 (703, 0.0),
 (704, 0.0),
 (705, 0.0),
 (706, 0.0),
 (707, 0.0),
 (708, 0.009478012221218158),
 (709, 0.0),
 (710, 0.0),
 (711, 0.0),
 (712, 0.010236171784831041),
 (713, 0.0),
 (714, 0.0),
 (715, 0.0),
 (716, 0.0),
 (717, 0.030195085274536484),
 (718, 0.0),
 (719, 0.0),
 (720, 0.0),
 (721, 0.007006637115952757),
 (722, 0.0),
 (723, 0.0),
 (724, 0.02302911423938945),
 (725, 0.0),
 (726, 0.005254585246277525),
 (727, 0.0),
 (728, 0.0),
 (729, 0.0),
 (730, 0.02147275459915145),
 (731, 0.02214630525681607),
 (732, 0.009444399972728225),
 (733, 0.0),
 (734, 0.022453930263541623),
 (735, 0.0),
 (736, 0.0),
 (737, 0.033617480380536975),
 (738, 0.0),
 (739, 0.0),
 (740, 0.01840119527534042),
 (741, 0.0),
 (742, 0.0),
 (743, 0.0),
 (744, 0.0),
 (745, 0.005553720811362759),
 (746, 0.0),
 (747, 0.00849613910888612),
 (748, 0.0),
 (749, 0.0),
 (750, 0.0),
 (751, 0.0),
 (752, 0.012355692538138563),
 (753, 0.0),
 (754, 0.0),
 (755, 0.025754701125838345),
 (756, 0.0),
 (757, 0.0),
 (758, 0.011111953707018759),
 (759, 0.009551545459859772),
 (760, 0.0),
 (761, 0.04065270140088807),
 (762, 0.007796056413369447),
 (763, 0.008663354895634592),
 (764, 0.011002378984487962),
 (765, 0.0),
 (766, 0.0),
 (767, 0.0),
 (768, 0.0),
 (769, 0.0),
 (770, 0.008545047983852578),
 (771, 0.051989545802567),
 (772, 0.0),
 (773, 0.0),
 (774, 0.0),
 (775, 0.010802681598897333),
 (776, 0.0),
 (777, 0.06007980793346216),
 (778, 0.0071704586904414004),
 (779, 0.015245689486302668),
 (780, 0.0),
 (781, 0.0),
 (782, 0.037502156515624704),
 (783, 0.0),
 (784, 0.013870497592700797),
 (785, 0.014192238901798996),
 (786, 0.007164362933647062),
 (787, 0.022466076220887032),
 (788, 0.016457352291323682),
 (789, 0.0),
 (790, 0.08025680374928532),
 (791, 0.0),
 (792, 0.005030442812173935),
 (793, 0.0),
 (794, 0.0),
 (795, 0.0),
 (796, 0.0),
 (797, 0.03848369401874537),
 (798, 0.0),
 (799, 0.021954259841651457),
 (800, 0.0),
 (801, 0.011123485980616458),
 (802, 0.0347453648088285),
 (803, 0.022204492708220076),
 (804, 0.0),
 (805, 0.03825151137912181),
 (806, 0.0),
 (807, 0.04172310532275983),
 (808, 0.0),
 (809, 0.0),
 (810, 0.019379625179082653),
 (811, 0.0),
 (812, 0.005655417665942666),
 (813, 0.0),
 (814, 0.0),
 (815, 0.0),
 (816, 0.007462989531691866),
 (817, 0.0),
 (818, 0.009507123465255157),
 (819, 0.0),
 (820, 0.04298997885426016),
 (821, 0.010289127956895973),
 (822, 0.0),
 (823, 0.0),
 (824, 0.0),
 (825, 0.0),
 (826, 0.0),
 (827, 0.0),
 (828, 0.012620623610056555),
 (829, 0.0),
 (830, 0.011821011980776994),
 (831, 0.0),
 (832, 0.0),
 (833, 0.01627490863903392),
 (834, 0.01641977085822191),
 (835, 0.00514024925075968),
 (836, 0.0),
 (837, 0.0),
 (838, 0.0),
 (839, 0.0),
 (840, 0.0),
 (841, 0.0),
 (842, 0.016027886943261495),
 (843, 0.0),
 (844, 0.0),
 (845, 0.005074194504145626),
 (846, 0.0),
 (847, 0.008626499485339136),
 (848, 0.0),
 (849, 0.014856684811016884),
 (850, 0.0),
 (851, 0.0),
 (852, 0.0),
 (853, 0.0),
 (854, 0.04387394985319227),
 (855, 0.0),
 (856, 0.0),
 (857, 0.0),
 (858, 0.0),
 (859, 0.0),
 (860, 0.0),
 (861, 0.00910490519577379),
 (862, 0.0),
 (863, 0.0),
 (864, 0.0),
 (865, 0.0),
 (866, 0.031967047989103985),
 (867, 0.006428580380772487),
 (868, 0.005100417269332048),
 (869, 0.0),
 (870, 0.031044854138300004),
 (871, 0.0),
 (872, 0.0),
 (873, 0.03252808053782304),
 (874, 0.014539082472116605),
 (875, 0.0),
 (876, 0.012832147519280468),
 (877, 0.0),
 (878, 0.0),
 (879, 0.10501891876668315),
 (880, 0.0),
 (881, 0.0),
 (882, 0.0),
 (883, 0.0),
 (884, 0.055138696600122286),
 (885, 0.0),
 (886, 0.0),
 (887, 0.005494342719097117),
 (888, 0.0),
 (889, 0.0),
 (890, 0.0),
 (891, 0.0),
 (892, 0.029874874863909516),
 (893, 0.0),
 (894, 0.018747425869999064),
 (895, 0.0),
 (896, 0.0),
 (897, 0.0),
 (898, 0.0),
 (899, 0.0),
 (900, 0.006709804958300453),
 (901, 0.0),
 (902, 0.0),
 (903, 0.0),
 (904, 0.01943066140914914),
 (905, 0.0),
 (906, 0.007476890926395706),
 (907, 0.0146365815128751),
 (908, 0.0),
 (909, 0.0474416990264194),
 (910, 0.00372137868922503),
 (911, 0.0),
 (912, 0.02563392747845679),
 (913, 0.0),
 (914, 0.0),
 (915, 0.0),
 (916, 0.0),
 (917, 0.0),
 (918, 0.009753806176412298),
 (919, 0.014053662451009757),
 (920, 0.012136900418604593),
 (921, 0.0),
 (922, 0.0),
 (923, 0.0),
 (924, 0.0),
 (925, 0.0),
 (926, 0.0),
 (927, 0.0),
 (928, 0.0),
 (929, 0.0),
 (930, 0.014377375158525134),
 (931, 0.0),
 (932, 0.013184032702353042),
 (933, 0.0),
 (934, 0.02565397633629071),
 (935, 0.006431709355273809),
 (936, 0.0),
 (937, 0.027133916072073244),
 (938, 0.0),
 (939, 0.012517799110931985),
 (940, 0.0),
 (941, 0.0),
 (942, 0.022362945890286402),
 (943, 0.031271187749908495),
 (944, 0.0),
 (945, 0.0),
 (946, 0.0),
 (947, 0.0),
 (948, 0.0),
 (949, 0.005702091414559683),
 (950, 0.010320635579054787),
 (951, 0.0),
 (952, 0.0),
 (953, 0.0047795702901217854),
 (954, 0.0),
 (955, 0.0),
 (956, 0.018135294954648978),
 (957, 0.007031658623135216),
 (958, 0.023758468315152943),
 (959, 0.0),
 (960, 0.0),
 (961, 0.0),
 (962, 0.03453964161915732),
 (963, 0.0),
 (964, 0.01249138666718957),
 (965, 0.0),
 (966, 0.0),
 (967, 0.015790411621549087),
 (968, 0.045047211272837964),
 (969, 0.0),
 (970, 0.0),
 (971, 0.016492216563284513),
 (972, 0.0),
 (973, 0.0),
 (974, 0.0),
 (975, 0.05123326179177313),
 (976, 0.02171240510477322),
 (977, 0.0),
 (978, 0.005058532807693164),
 (979, 0.08104479428041506),
 (980, 0.018319483217131234),
 (981, 0.03276074913231902),
 (982, 0.01271817035184435),
 (983, 0.0),
 (984, 0.0),
 (985, 0.027491289517055532),
 (986, 0.0),
 (987, 0.010139537004863121),
 (988, 0.0),
 (989, 0.0),
 (990, 0.0),
 (991, 0.0038287385710778156),
 (992, 0.05181241244828168),
 (993, 0.0),
 (994, 0.0),
 (995, 0.0),
 (996, 0.0),
 (997, 0.0),
 (998, 0.0),
 (999, 0.0),
 ...]

In [239]:
def get_recommendations(title, cosine_sim=cosine_sim):
    idx = df2[df2['title']==title].index[0]  #영화 제목을 통해 영화의 index 값을 얻기
    sim_scores = list(enumerate(cosine_sim[idx]))  #cosine 유사도에서 idx에 해당하는 데이터를 [idx, 유사도] 형태로 얻기
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)  #cosine 유사도 기준으로 내림차순 정렬
    sim_scores = sim_scores[1: 11]  #자기 자신을 제외한 10개의 추천 영화를 Slicing
    movie_indices = [i[0] for i in sim_scores]  #추천 영화 목록 10개의 index 정보 추출
    titles = df2['title'].loc[movie_indices]  #index 정보를 통해 영화 제목 추출
    return titles

In [240]:
get_recommendations('Avatar')

3604                       Apollo 18
2130                    The American
634                       The Matrix
1341            The Inhabited Island
529                 Tears of the Sun
1610                           Hanna
311     The Adventures of Pluto Nash
847                         Semi-Pro
775                        Supernova
2628             Blood and Chocolate
Name: title, dtype: object

In [241]:
from ast import literal_eval
df2['genres'] = df2['genres'].apply(literal_eval)

In [242]:
df2.loc[0, 'genres']

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [243]:
features = ['cast', 'crew', 'keywords']
for feature in features:
    df2[feature] = df2[feature].apply(literal_eval)

In [250]:
def get_director(x):
    for i in x: 
        if i['job'] == 'Director':
            return i['name']
    return np.nan  #x값이 없는 경우 np.nan를 return 한다.

In [251]:
df2['director'] = df2['crew'].apply(get_director)
df2['director']

0           James Cameron
1          Gore Verbinski
2              Sam Mendes
3       Christopher Nolan
4          Andrew Stanton
              ...
4798     Robert Rodriguez
4799         Edward Burns
4800          Scott Smith
4801          Daniel Hsia
4802     Brian Herzlinger
Name: director, Length: 4803, dtype: object

In [252]:
filt = df2['director'].isnull()
df2[filt]

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
3661,0,"[{'id': 18, 'name': 'Drama'}]",NaN,19615,[],en,Flying By,A real estate developer goes to his 25th high ...,1.546169,[],...,95.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,It's about the music,Flying By,7.0,2,"[{'cast_id': 1, 'character': 'George', 'credit...",[],NaN
3670,0,"[{'id': 10751, 'name': 'Family'}]",NaN,447027,[],en,Running Forever,After being estranged since her mother's death...,0.028756,"[{""name"": ""New Kingdom Pictures"", ""id"": 41671}]",...,88.0,[],Released,NaN,Running Forever,0.0,0,[],[],NaN
3729,3250000,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.paathefilm.com/,26379,[],en,Paa,He suffers from a progeria like syndrome. Ment...,2.126139,"[{""name"": ""A B Corp"", ""id"": 4502}]",...,133.0,"[{""iso_639_1"": ""hi"", ""name"": ""\u0939\u093f\u09...",Released,NaN,Paa,6.6,19,"[{'cast_id': 1, 'character': 'Auro', 'credit_i...","[{'credit_id': '52fe44fec3a368484e042a29', 'de...",NaN
3977,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,55831,"[{'id': 10183, 'name': 'independent film'}]",en,Boynton Beach Club,A handful of men and women of a certain age pi...,0.188870,[],...,105.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,Boynton Beach Club,6.8,3,"[{'cast_id': 1, 'character': 'Marilyn', 'credi...",[],NaN
4068,0,[],NaN,371085,[],en,Sharkskin,The Post War II story of Manhattan born Mike E...,0.027801,[],...,0.0,[],Released,NaN,Sharkskin,0.0,0,[],[],NaN
4105,2000000,[],NaN,48382,[],en,"The Book of Mormon Movie, Volume 1: The Journey",The story of Lehi and his wife Sariah and thei...,0.031947,[],...,120.0,[],Released,"2600 years ago, one family began a remarkable ...","The Book of Mormon Movie, Volume 1: The Journey",5.0,2,"[{'cast_id': 1, 'character': 'Sam', 'credit_id...",[],NaN
4118,0,[],NaN,325140,[],en,Hum To Mohabbat Karega,"Raju, a waiter, is in love with the famous TV ...",0.001186,[],...,0.0,[],Released,NaN,Hum To Mohabbat Karega,0.0,0,[],[],NaN
4123,7000000,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",http://www.roadsideromeo.com/,20653,[],en,Roadside Romeo,This is the story of Romeo. A dude who was liv...,0.253595,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,93.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,NaN,Roadside Romeo,6.7,3,"[{'cast_id': 1, 'character': 'Romeo', 'credit_...",[],NaN
4247,1,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,361505,[],en,Me You and Five Bucks,"A womanizing yet lovable loser, Charlie, a wai...",0.094105,[],...,90.0,[],Released,"A story about second, second chances",Me You and Five Bucks,10.0,2,[],[],NaN
4305,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,114065,[],en,Down & Out With The Dolls,"The raunchy, spunky tale of the rise and fall ...",0.002386,[],...,88.0,[],Released,Ain't Rock 'N' Roll a bitch.,Down & Out With The Dolls,0.0,0,[],[],NaN
4314,1200000,[],NaN,137955,[],en,Crowsnest,"In late summer of 2011, five young friends on ...",0.057564,[],...,84.0,[],Released,NaN,Crowsnest,4.8,12,[],[],NaN
4322,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,102840,[],en,Sex With Strangers,"For some married couples, sex is an obsession ...",0.014406,[],...,0.0,[],Released,NaN,Sex With Strangers,5.0,1,[],[],NaN
4374,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,47686,"[{'id': 10183, 'name': 'independent film'}]",en,Dream with the Fishes,Terry is a suicidal voyeur who treats a dying ...,0.948316,[],...,97.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"An oddball odyssey about voyeurism, LSD and nu...",Dream with the Fishes,7.7,10,"[{'cast_id': 1, 'character': 'Terry', 'credit_...","[{'credit_id': '555e51909251417e5f000b42', 'de...",NaN
4401,0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,43630,[],en,The Helix... Loaded,,0.020600,[],...,97.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Rumored,NaN,The Helix... Loaded,4.8,2,[],[],NaN
4405,0,"[{'id': 10751, 'name': 'Family'}, {'id': 35, '...",https://www.epicbuzz.net/movies/karachi-se-lahore,357441,[],en,Karachi se Lahore,A road trip from Karachi to Lahore where 5 fri...,0.060003,[],...,0.0,"[{""iso_639_1"": ""ur"", ""name"": ""\u0627\u0631\u06...",Released,NaN,Karachi se Lahore,8.0,1,"[{'cast_id': 0, 'character': '', 'credit_id': ...",[],NaN
4458,0,[],NaN,279759,[],en,Harrison Montgomery,Film from Daniel Davila,0.006943,[],...,0.0,[],Released,NaN,Harrison Montgomery,0.0,0,[],[],NaN
4504,0,[],NaN,331493,[],en,Light from the Darkroom,Light in the Darkroom is the story of two best...,0.012942,[],...,0.0,[],Released,NaN,Light from the Darkroom,0.0,0,[],[],NaN
4553,0,[],NaN,380097,[],en,America Is Still the Place,1971 post civil rights San Francisco seemed li...,0.000000,[],...,0.0,[],Released,NaN,America Is Still the Place,0.0,0,[],[],NaN
4562,500000,[],NaN,297100,[],en,The Little Ponderosa Zoo,The Little Ponderosa Zoo is preparing for thei...,0.073079,[],...,84.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,The Little Ponderosa Zoo,2.0,1,[],[],NaN
4566,0,[],NaN,325579,[],en,Diamond Ruff,"Action - Orphan, con artist, crime boss and mi...",0.165257,[],...,0.0,[],Released,NaN,Diamond Ruff,2.4,4,[],[],NaN
4571,0,[],NaN,328307,[],en,Rise of the Entrepreneur: The Search for a Bet...,The world is changing faster than ever. Techno...,0.052942,[],...,0.0,[],Released,NaN,Rise of the Entrepreneur: The Search for a Bet...,8.0,1,[],[],NaN
4583,0,"[{'id': 99, 'name': 'Documentary'}]",http://www.iwantyourmoney.net/,47546,[],en,I Want Your Money,Two versions of the American dream now stand i...,0.084344,[],...,92.0,[],Released,The film contrasts two views of role that the ...,I Want Your Money,3.8,5,[],[],NaN
4589,0,"[{'id': 18, 'name': 'Drama'}, {'id': 9648, 'na...",NaN,43743,"[{'id': 10183, 'name': 'independent film'}]",en,Fabled,Joseph just broke up with his girlfriend and i...,0.003352,[],...,84.0,[],Released,There once was a wolf named Lupold...,Fabled,0.0,0,[],[],NaN
4633,0,[],NaN,300327,[],en,Death Calls,An action-packed love story on the Mexican bor...,0.005883,[],...,0.0,[],Released,NaN,Death Calls,0.0,0,[],[],NaN
4638,300000,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,378237,[],en,Amidst the Devil's Wings,"Prequel to ""5th of a Degree.""",0.018087,"[{""name"": ""Daniel Columbie Films & Productions...",...,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Prequel to ""5th of a Degree.""",Amidst the Devil's Wings,0.0,0,[],[],NaN
4644,0,"[{'id': 27, 'name': 'Horror'}]",NaN,325123,[],en,Teeth and Blood,A beautiful diva is murdered on the set of hor...,0.055325,[],...,96.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,Teeth and Blood,3.0,1,"[{'cast_id': 0, 'character': 'Vincent Augustin...",[],NaN
4657,0,[],NaN,320435,[],en,UnDivided,UnDivided documents the true story of how a su...,0.010607,[],...,0.0,[],Released,NaN,UnDivided,0.0,0,[],[],NaN
4662,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,40963,"[{'id': 10183, 'name': 'independent film'}]",en,Little Big Top,An aging out of work clown returns to his smal...,0.092100,"[{""name"": ""Fly High Films"", ""id"": 24248}]",...,0.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Rumored,NaN,Little Big Top,10.0,1,"[{'cast_id': 0, 'character': 'Seymour', 'credi...",[],NaN
4674,0,[],NaN,194588,[],en,Short Cut to Nirvana: Kumbh Mela,Every 12 years over 70 million pilgrims gather...,0.004998,[],...,85.0,[],Released,NaN,Short Cut to Nirvana: Kumbh Mela,0.0,0,[],[],NaN
4716,0,[],NaN,38786,[],en,The Blood of My Brother: A Story of Death in Iraq,THE BLOOD OF MY BROTHER goes behind the scenes...,0.005256,[],...,90.0,[],Released,NaN,The Blood of My Brother: A Story of Death in Iraq,0.0,0,[],[],NaN

In [ ]:
filt = df2['director'].isnull()
df2[filt]

In [253]:
def get_list(x):
  if isinstance(x, list):
    names = [i['name'] for i in x]
    if len(names) > 3:
        names = names[:3]
    return names
  return []

In [254]:
features = ['cast', 'keywords', 'genres']
for feature in features:
    df2[feature] = df2[feature].apply(get_list)

In [255]:
df2[['title', 'director', 'cast', 'keywords', 'genres']].head(3)

,title,director,cast,keywords,genres
0,Avatar,James Cameron,"[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[culture clash, future, space war]","[Action, Adventure, Fantasy]"
1,Pirates of the Caribbean: At World's End,Gore Verbinski,"[Johnny Depp, Orlando Bloom, Keira Knightley]","[ocean, drug abuse, exotic island]","[Adventure, Fantasy, Action]"
2,Spectre,Sam Mendes,"[Daniel Craig, Christoph Waltz, Léa Seydoux]","[spy, based on novel, secret agent]","[Action, Adventure, Crime]"

In [256]:
def clean_data(x):
  if isinstance(x, list):
    return [str.lower(i.replace(' ', '')) for i in x]
  else:
    if isinstance(x, str):
      return str.lower(x.replace(' ', ''))
    else:
      return ''

In [257]:
features = ['cast', 'keywords', 'genres', 'director']
for feature in features:
    df2[feature] = df2[feature].apply(clean_data)

In [258]:
df2[['title', 'director', 'cast', 'keywords', 'genres']].head(3)
df2[features].head(3)

,cast,keywords,genres,director
0,"[samworthington, zoesaldana, sigourneyweaver]","[cultureclash, future, spacewar]","[action, adventure, fantasy]",jamescameron
1,"[johnnydepp, orlandobloom, keiraknightley]","[ocean, drugabuse, exoticisland]","[adventure, fantasy, action]",goreverbinski
2,"[danielcraig, christophwaltz, léaseydoux]","[spy, basedonnovel, secretagent]","[action, adventure, crime]",sammendes

In [259]:
def create_soup(x):
  str = ' '.join(x['keywords']) + ' '
  str += ' '.join(x['cast']) + ' '
  str += (x['director']) + ' '
  str += ' '.join(x['genres'])
  return str

In [260]:
df2['soup'] = df2.apply(create_soup, axis=1)
df2['soup']

0       cultureclash future spacewar samworthington zo...
1       ocean drugabuse exoticisland johnnydepp orland...
2       spy basedonnovel secretagent danielcraig chris...
3       dccomics crimefighter terrorist christianbale ...
4       basedonnovel mars medallion taylorkitsch lynnc...
                              ...
4798    unitedstates–mexicobarrier legs arms carlosgal...
4799     edwardburns kerrybishé marshadietlein edwardb...
4800    date loveatfirstsight narration ericmabius kri...
4801       danielhenney elizacoupe billpaxton danielhsia
4802    obsession camcorder crush drewbarrymore brianh...
Name: soup, Length: 4803, dtype: object

줄거리 추천 알고리즘

In [23]:
import pandas as pd
df = pd.read_csv('data/tmdb_5000_movies.csv')
df.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [27]:
df['overview'].isnull().any()

False

In [26]:
df['overview'] = df['overview'].fillna('')

In [28]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(stop_words='english')

In [30]:
tfidf_matrix = tfidf.fit_transform(df['overview'])
tfidf_matrix.shape

(4803, 20978)

In [33]:
from sklearn.metrics.pairwise import linear_kernel
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)
cosine_sim.shape

(4803, 4803)

In [41]:
title= 'Avatar'
idx = df[df['title']==title].index[0]
idx

0

In [44]:
sim_scorse = list(enumerate(cosine_sim[idx]))
sim_scorse

[(0, 0.9999999999999998),
 (1, 0.0),
 (2, 0.0),
 (3, 0.024995115837672686),
 (4, 0.0),
 (5, 0.030352543844312897),
 (6, 0.0),
 (7, 0.037580696903430855),
 (8, 0.0),
 (9, 0.0),
 (10, 0.0),
 (11, 0.019787662886189515),
 (12, 0.0),
 (13, 0.0),
 (14, 0.0),
 (15, 0.0),
 (16, 0.0),
 (17, 0.0),
 (18, 0.0),
 (19, 0.0),
 (20, 0.0),
 (21, 0.0),
 (22, 0.0),
 (23, 0.0),
 (24, 0.0),
 (25, 0.0),
 (26, 0.03496958297818529),
 (27, 0.047054527099890414),
 (28, 0.0),
 (29, 0.02518543163480528),
 (30, 0.0),
 (31, 0.06153392877569967),
 (32, 0.0),
 (33, 0.0),
 (34, 0.0),
 (35, 0.0),
 (36, 0.07454624070840554),
 (37, 0.0),
 (38, 0.0),
 (39, 0.0),
 (40, 0.0),
 (41, 0.0),
 (42, 0.0),
 (43, 0.02179485056202829),
 (44, 0.0),
 (45, 0.06114986145029329),
 (46, 0.0),
 (47, 0.033984465155278074),
 (48, 0.0),
 (49, 0.0),
 (50, 0.0),
 (51, 0.0),
 (52, 0.0),
 (53, 0.0),
 (54, 0.0),
 (55, 0.0),
 (56, 0.0),
 (57, 0.0),
 (58, 0.0),
 (59, 0.0),
 (60, 0.0),
 (61, 0.0),
 (62, 0.0),
 (63, 0.0),
 (64, 0.0),
 (65, 0.0),
 (66, 0.0),
 (67, 0.0),
 (68, 0.05604155333848265),
 (69, 0.0),
 (70, 0.0),
 (71, 0.0),
 (72, 0.0),
 (73, 0.0),
 (74, 0.0578154826990661),
 (75, 0.0),
 (76, 0.0),
 (77, 0.0),
 (78, 0.0),
 (79, 0.0),
 (80, 0.0),
 (81, 0.0),
 (82, 0.0),
 (83, 0.06410697319741618),
 (84, 0.0),
 (85, 0.0),
 (86, 0.0),
 (87, 0.022592803752044407),
 (88, 0.0),
 (89, 0.015148637437209839),
 (90, 0.0),
 (91, 0.03395471892695028),
 (92, 0.0),
 (93, 0.0),
 (94, 0.0),
 (95, 0.0),
 (96, 0.0),
 (97, 0.0),
 (98, 0.0),
 (99, 0.0),
 (100, 0.0),
 (101, 0.0),
 (102, 0.01626256555629118),
 (103, 0.0),
 (104, 0.0),
 (105, 0.0),
 (106, 0.0),
 (107, 0.04693028266770884),
 (108, 0.0),
 (109, 0.0),
 (110, 0.0),
 (111, 0.0),
 (112, 0.0),
 (113, 0.0),
 (114, 0.0),
 (115, 0.0),
 (116, 0.0),
 (117, 0.0),
 (118, 0.0),
 (119, 0.0),
 (120, 0.0),
 (121, 0.0),
 (122, 0.0),
 (123, 0.0),
 (124, 0.0),
 (125, 0.0),
 (126, 0.0),
 (127, 0.02759202353418965),
 (128, 0.0),
 (129, 0.0),
 (130, 0.0),
 (131, 0.020353046942361782),
 (132, 0.0),
 (133, 0.0),
 (134, 0.03310689282980266),
 (135, 0.0),
 (136, 0.0),
 (137, 0.027774346774895042),
 (138, 0.0),
 (139, 0.025391217985042475),
 (140, 0.04479488809661491),
 (141, 0.0),
 (142, 0.0),
 (143, 0.0),
 (144, 0.0),
 (145, 0.0),
 (146, 0.0),
 (147, 0.0),
 (148, 0.035819682768829776),
 (149, 0.03867508719032843),
 (150, 0.06865963374809524),
 (151, 0.06547158879247775),
 (152, 0.0),
 (153, 0.016345656201248882),
 (154, 0.0),
 (155, 0.0),
 (156, 0.0),
 (157, 0.0),
 (158, 0.0),
 (159, 0.0),
 (160, 0.0),
 (161, 0.0),
 (162, 0.0),
 (163, 0.0),
 (164, 0.0),
 (165, 0.0),
 (166, 0.0),
 (167, 0.0),
 (168, 0.0),
 (169, 0.0),
 (170, 0.021912013516845116),
 (171, 0.0),
 (172, 0.0),
 (173, 0.0),
 (174, 0.05755334169283926),
 (175, 0.0),
 (176, 0.0),
 (177, 0.0),
 (178, 0.0),
 (179, 0.0),
 (180, 0.0),
 (181, 0.0),
 (182, 0.0),
 (183, 0.0),
 (184, 0.02370071251688892),
 (185, 0.0),
 (186, 0.0),
 (187, 0.0),
 (188, 0.0),
 (189, 0.0),
 (190, 0.0),
 (191, 0.0),
 (192, 0.0),
 (193, 0.0),
 (194, 0.0),
 (195, 0.0),
 (196, 0.0),
 (197, 0.0),
 (198, 0.0),
 (199, 0.046958011081237344),
 (200, 0.0),
 (201, 0.0),
 (202, 0.0),
 (203, 0.0),
 (204, 0.0),
 (205, 0.0),
 (206, 0.014858284268416453),
 (207, 0.0),
 (208, 0.0),
 (209, 0.0),
 (210, 0.0),
 (211, 0.0),
 (212, 0.0),
 (213, 0.020685005250111466),
 (214, 0.0),
 (215, 0.0),
 (216, 0.0),
 (217, 0.0),
 (218, 0.0),
 (219, 0.0),
 (220, 0.0),
 (221, 0.0),
 (222, 0.015357449216930661),
 (223, 0.0),
 (224, 0.0),
 (225, 0.0),
 (226, 0.0),
 (227, 0.0),
 (228, 0.019752198008436538),
 (229, 0.0),
 (230, 0.013429784822891493),
 (231, 0.0),
 (232, 0.0),
 (233, 0.0),
 (234, 0.0),
 (235, 0.0),
 (236, 0.051165446287094754),
 (237, 0.0),
 (238, 0.0),
 (239, 0.015505465642114514),
 (240, 0.0),
 (241, 0.0),
 (242, 0.0),
 (243, 0.0),
 (244, 0.0),
 (245, 0.0),
 (246, 0.0),
 (247, 0.0),
 (248, 0.0),
 (249, 0.0),
 (250, 0.0),
 (251, 0.0),
 (252, 0.0),
 (253, 0.0),
 (254, 0.0),
 (255, 0.0),
 (256, 0.0),
 (257, 0.0),
 (258, 0.0),
 (259, 0.0),
 (260, 0.0),
 (261, 0.0),
 (262, 0.0),
 (263, 0.0),
 (264, 0.0),
 (265, 0.0),
 (266, 0.0),
 (267, 0.0),
 (268, 0.0),
 (269, 0.0),
 (270, 0.021470734434860236),
 (271, 0.0),
 (272, 0.0),
 (273, 0.0),
 (274, 0.0),
 (275, 0.03265905578071967),
 (276, 0.0),
 (277, 0.01589206170204961),
 (278, 0.0),
 (279, 0.0),
 (280, 0.0),
 (281, 0.06991032905797737),
 (282, 0.0),
 (283, 0.0),
 (284, 0.0),
 (285, 0.0),
 (286, 0.0),
 (287, 0.0),
 (288, 0.0),
 (289, 0.0),
 (290, 0.0),
 (291, 0.0),
 (292, 0.0),
 (293, 0.0),
 (294, 0.0),
 (295, 0.0),
 (296, 0.0),
 (297, 0.0),
 (298, 0.0),
 (299, 0.0),
 (300, 0.0),
 (301, 0.02140958591266881),
 (302, 0.0),
 (303, 0.0),
 (304, 0.0),
 (305, 0.0),
 (306, 0.0),
 (307, 0.02219436706611777),
 (308, 0.0),
 (309, 0.0),
 (310, 0.0),
 (311, 0.10091388184065114),
 (312, 0.06713269538943718),
 (313, 0.03303373167406415),
 (314, 0.0),
 (315, 0.0),
 (316, 0.0),
 (317, 0.0),
 (318, 0.0),
 (319, 0.0),
 (320, 0.0),
 (321, 0.0),
 (322, 0.0),
 (323, 0.0),
 (324, 0.0),
 (325, 0.0),
 (326, 0.0),
 (327, 0.0),
 (328, 0.0),
 (329, 0.0),
 (330, 0.0),
 (331, 0.0),
 (332, 0.0),
 (333, 0.0),
 (334, 0.0),
 (335, 0.0),
 (336, 0.0),
 (337, 0.0),
 (338, 0.0),
 (339, 0.0),
 (340, 0.0),
 (341, 0.0),
 (342, 0.023794524481607668),
 (343, 0.017229086099229504),
 (344, 0.0),
 (345, 0.0),
 (346, 0.0),
 (347, 0.0),
 (348, 0.0),
 (349, 0.0),
 (350, 0.0),
 (351, 0.0),
 (352, 0.0),
 (353, 0.0),
 (354, 0.0),
 (355, 0.0),
 (356, 0.0),
 (357, 0.0),
 (358, 0.0),
 (359, 0.0),
 (360, 0.0),
 (361, 0.0),
 (362, 0.0),
 (363, 0.0),
 (364, 0.0),
 (365, 0.03657882540123636),
 (366, 0.0),
 (367, 0.0),
 (368, 0.0),
 (369, 0.05300098924470272),
 (370, 0.0),
 (371, 0.0),
 (372, 0.020735936546165023),
 (373, 0.04443314049472812),
 (374, 0.0),
 (375, 0.0),
 (376, 0.0),
 (377, 0.0),
 (378, 0.0),
 (379, 0.0),
 (380, 0.0),
 (381, 0.0),
 (382, 0.0),
 (383, 0.0),
 (384, 0.0),
 (385, 0.0),
 (386, 0.0),
 (387, 0.0),
 (388, 0.0),
 (389, 0.0),
 (390, 0.0),
 (391, 0.0),
 (392, 0.0),
 (393, 0.0),
 (394, 0.0),
 (395, 0.0),
 (396, 0.0),
 (397, 0.0),
 (398, 0.0),
 (399, 0.0),
 (400, 0.0),
 (401, 0.0),
 (402, 0.0),
 (403, 0.0),
 (404, 0.06009956529690273),
 (405, 0.0),
 (406, 0.016747487471142634),
 (407, 0.0),
 (408, 0.0),
 (409, 0.0),
 (410, 0.0),
 (411, 0.0),
 (412, 0.016870552683338487),
 (413, 0.0),
 (414, 0.0),
 (415, 0.0),
 (416, 0.0),
 (417, 0.0),
 (418, 0.0),
 (419, 0.0),
 (420, 0.022554852900935708),
 (421, 0.0),
 (422, 0.0),
 (423, 0.0),
 (424, 0.0),
 (425, 0.0),
 (426, 0.0),
 (427, 0.0),
 (428, 0.0),
 (429, 0.0),
 (430, 0.027765912161471347),
 (431, 0.0),
 (432, 0.026100151827275365),
 (433, 0.0),
 (434, 0.0),
 (435, 0.0),
 (436, 0.0),
 (437, 0.0),
 (438, 0.0),
 (439, 0.0),
 (440, 0.0),
 (441, 0.0),
 (442, 0.0),
 (443, 0.0),
 (444, 0.0),
 (445, 0.0),
 (446, 0.0),
 (447, 0.0),
 (448, 0.0),
 (449, 0.0),
 (450, 0.0),
 (451, 0.0),
 (452, 0.0),
 (453, 0.0),
 (454, 0.029683715377209582),
 (455, 0.0),
 (456, 0.01809767197857577),
 (457, 0.0),
 (458, 0.0),
 (459, 0.0),
 (460, 0.0),
 (461, 0.021757627782527315),
 (462, 0.0),
 (463, 0.0),
 (464, 0.0),
 (465, 0.0),
 (466, 0.03923759935588712),
 (467, 0.03440907786854096),
 (468, 0.0),
 (469, 0.0),
 (470, 0.0),
 (471, 0.0),
 (472, 0.0),
 (473, 0.03260911551788164),
 (474, 0.0),
 (475, 0.04644653205228709),
 (476, 0.0),
 (477, 0.0),
 (478, 0.0),
 (479, 0.0),
 (480, 0.0),
 (481, 0.0),
 (482, 0.0),
 (483, 0.04494674043593564),
 (484, 0.0),
 (485, 0.0),
 (486, 0.0),
 (487, 0.03920469830669222),
 (488, 0.02627937970482553),
 (489, 0.0),
 (490, 0.0),
 (491, 0.0),
 (492, 0.0),
 (493, 0.0),
 (494, 0.0),
 (495, 0.04089512610792395),
 (496, 0.0),
 (497, 0.0),
 (498, 0.0),
 (499, 0.0),
 (500, 0.0),
 (501, 0.0),
 (502, 0.026528510025639062),
 (503, 0.0),
 (504, 0.0),
 (505, 0.0),
 (506, 0.0),
 (507, 0.045177447113757124),
 (508, 0.0),
 (509, 0.0),
 (510, 0.0),
 (511, 0.0),
 (512, 0.0),
 (513, 0.04129006722051003),
 (514, 0.0),
 (515, 0.0),
 (516, 0.0),
 (517, 0.0),
 (518, 0.0),
 (519, 0.0),
 (520, 0.0),
 (521, 0.0),
 (522, 0.0),
 (523, 0.0),
 (524, 0.0),
 (525, 0.0),
 (526, 0.0),
 (527, 0.0),
 (528, 0.0),
 (529, 0.12248959164893025),
 (530, 0.0),
 (531, 0.0),
 (532, 0.0),
 (533, 0.0),
 (534, 0.0),
 (535, 0.036165962378131994),
 (536, 0.0),
 (537, 0.0),
 (538, 0.0),
 (539, 0.043135504336524515),
 (540, 0.0),
 (541, 0.0),
 (542, 0.0),
 (543, 0.0),
 (544, 0.0),
 (545, 0.0),
 (546, 0.0),
 (547, 0.0),
 (548, 0.0),
 (549, 0.0336386834852284),
 (550, 0.0),
 (551, 0.0),
 (552, 0.0),
 (553, 0.0),
 (554, 0.0),
 (555, 0.0),
 (556, 0.0),
 (557, 0.04162548311884122),
 (558, 0.0),
 (559, 0.0),
 (560, 0.0),
 (561, 0.0),
 (562, 0.0),
 (563, 0.0),
 (564, 0.0),
 (565, 0.0),
 (566, 0.0),
 (567, 0.0),
 (568, 0.04780705306142902),
 (569, 0.0),
 (570, 0.08077097525490026),
 (571, 0.0),
 (572, 0.0),
 (573, 0.0),
 (574, 0.0),
 (575, 0.0),
 (576, 0.0),
 (577, 0.0),
 (578, 0.0),
 (579, 0.0),
 (580, 0.0),
 (581, 0.03786456405853408),
 (582, 0.0530851945093179),
 (583, 0.0),
 (584, 0.0),
 (585, 0.0),
 (586, 0.0),
 (587, 0.0),
 (588, 0.02073909884635409),
 (589, 0.0),
 (590, 0.0),
 (591, 0.0),
 (592, 0.0),
 (593, 0.0),
 (594, 0.0),
 (595, 0.023510761053100952),
 (596, 0.018899116467250017),
 (597, 0.0),
 (598, 0.0),
 (599, 0.011305195818488963),
 (600, 0.0),
 (601, 0.0),
 (602, 0.0),
 (603, 0.0),
 (604, 0.0),
 (605, 0.0),
 (606, 0.0),
 (607, 0.0),
 (608, 0.0),
 (609, 0.0),
 (610, 0.0),
 (611, 0.0),
 (612, 0.0),
 (613, 0.0),
 (614, 0.060311746363988686),
 (615, 0.0),
 (616, 0.0),
 (617, 0.045716279113913835),
 (618, 0.0),
 (619, 0.0),
 (620, 0.0),
 (621, 0.0),
 (622, 0.0),
 (623, 0.0),
 (624, 0.0),
 (625, 0.0),
 (626, 0.04258263725533966),
 (627, 0.0),
 (628, 0.0),
 (629, 0.0),
 (630, 0.0),
 (631, 0.0),
 (632, 0.028956158569231887),
 (633, 0.0),
 (634, 0.13230696630317224),
 (635, 0.020538966140854917),
 (636, 0.0),
 (637, 0.036434035425775384),
 (638, 0.0),
 (639, 0.0),
 (640, 0.0),
 (641, 0.0),
 (642, 0.0),
 (643, 0.0),
 (644, 0.0),
 (645, 0.0),
 (646, 0.0481699353180096),
 (647, 0.0),
 (648, 0.0),
 (649, 0.0),
 (650, 0.0),
 (651, 0.0),
 (652, 0.0),
 (653, 0.0),
 (654, 0.0),
 (655, 0.0),
 (656, 0.0),
 (657, 0.0),
 (658, 0.0),
 (659, 0.0),
 (660, 0.0),
 (661, 0.0),
 (662, 0.0),
 (663, 0.0),
 (664, 0.0),
 (665, 0.0),
 (666, 0.0),
 (667, 0.0),
 (668, 0.0),
 (669, 0.0),
 (670, 0.0),
 (671, 0.0),
 (672, 0.02898697232295572),
 (673, 0.0),
 (674, 0.0),
 (675, 0.0),
 (676, 0.0),
 (677, 0.0),
 (678, 0.0),
 (679, 0.0),
 (680, 0.0),
 (681, 0.0),
 (682, 0.0),
 (683, 0.0),
 (684, 0.0),
 (685, 0.0),
 (686, 0.0),
 (687, 0.0),
 (688, 0.0),
 (689, 0.0),
 (690, 0.0),
 (691, 0.0),
 (692, 0.03206035530418174),
 (693, 0.0),
 (694, 0.0),
 (695, 0.0),
 (696, 0.0),
 (697, 0.0),
 (698, 0.0),
 (699, 0.0),
 (700, 0.0),
 (701, 0.0),
 (702, 0.0),
 (703, 0.0),
 (704, 0.0),
 (705, 0.0),
 (706, 0.0),
 (707, 0.0),
 (708, 0.0),
 (709, 0.0),
 (710, 0.0),
 (711, 0.0),
 (712, 0.0),
 (713, 0.0),
 (714, 0.0),
 (715, 0.0),
 (716, 0.0),
 (717, 0.0),
 (718, 0.0),
 (719, 0.0),
 (720, 0.0),
 (721, 0.0),
 (722, 0.0),
 (723, 0.0),
 (724, 0.0),
 (725, 0.0),
 (726, 0.0),
 (727, 0.0),
 (728, 0.0),
 (729, 0.0),
 (730, 0.0),
 (731, 0.0),
 (732, 0.0),
 (733, 0.0),
 (734, 0.0),
 (735, 0.0),
 (736, 0.0),
 (737, 0.0),
 (738, 0.0),
 (739, 0.0),
 (740, 0.0),
 (741, 0.0),
 (742, 0.0),
 (743, 0.0),
 (744, 0.0),
 (745, 0.0),
 (746, 0.0),
 (747, 0.0),
 (748, 0.0),
 (749, 0.0),
 (750, 0.0),
 (751, 0.0),
 (752, 0.0),
 (753, 0.0),
 (754, 0.0),
 (755, 0.0),
 (756, 0.0),
 (757, 0.0),
 (758, 0.02312734671999428),
 (759, 0.0),
 (760, 0.0),
 (761, 0.0),
 (762, 0.0),
 (763, 0.0),
 (764, 0.0),
 (765, 0.0),
 (766, 0.0),
 (767, 0.0),
 (768, 0.0),
 (769, 0.0),
 (770, 0.0),
 (771, 0.0),
 (772, 0.0),
 (773, 0.0),
 (774, 0.0),
 (775, 0.09447938436890334),
 (776, 0.0),
 (777, 0.0),
 (778, 0.0),
 (779, 0.0),
 (780, 0.0),
 (781, 0.0),
 (782, 0.022840816889601392),
 (783, 0.0),
 (784, 0.0),
 (785, 0.02916114390667306),
 (786, 0.0),
 (787, 0.02718737836955114),
 (788, 0.0),
 (789, 0.0),
 (790, 0.01983913008064079),
 (791, 0.0),
 (792, 0.0),
 (793, 0.0),
 (794, 0.01979825741819308),
 (795, 0.0),
 (796, 0.0),
 (797, 0.0),
 (798, 0.0),
 (799, 0.0),
 (800, 0.0),
 (801, 0.0),
 (802, 0.0),
 (803, 0.0),
 (804, 0.019527465373742017),
 (805, 0.0),
 (806, 0.0),
 (807, 0.0),
 (808, 0.0),
 (809, 0.0),
 (810, 0.0),
 (811, 0.0),
 (812, 0.0),
 (813, 0.0),
 (814, 0.0),
 (815, 0.0),
 (816, 0.0),
 (817, 0.0),
 (818, 0.0),
 (819, 0.0),
 (820, 0.0),
 (821, 0.0),
 (822, 0.0),
 (823, 0.06220031169429145),
 (824, 0.0),
 (825, 0.0),
 (826, 0.0),
 (827, 0.0),
 (828, 0.0),
 (829, 0.0),
 (830, 0.0),
 (831, 0.0),
 (832, 0.0),
 (833, 0.0),
 (834, 0.0),
 (835, 0.04073135439434278),
 (836, 0.0),
 (837, 0.0),
 (838, 0.024478629672101244),
 (839, 0.0),
 (840, 0.0),
 (841, 0.0),
 (842, 0.0),
 (843, 0.0),
 (844, 0.0),
 (845, 0.0),
 (846, 0.0),
 (847, 0.09799623121705055),
 (848, 0.0),
 (849, 0.0),
 (850, 0.0),
 (851, 0.0),
 (852, 0.0),
 (853, 0.0),
 (854, 0.02347552339875148),
 (855, 0.0),
 (856, 0.0),
 (857, 0.0),
 (858, 0.0),
 (859, 0.0),
 (860, 0.0),
 (861, 0.0),
 (862, 0.0),
 (863, 0.0),
 (864, 0.0),
 (865, 0.0),
 (866, 0.0),
 (867, 0.0),
 (868, 0.0),
 (869, 0.0),
 (870, 0.0),
 (871, 0.035294384067449676),
 (872, 0.0),
 (873, 0.0),
 (874, 0.0),
 (875, 0.03005701752433768),
 (876, 0.0),
 (877, 0.0),
 (878, 0.0),
 (879, 0.0),
 (880, 0.0),
 (881, 0.0),
 (882, 0.0),
 (883, 0.022746472656163027),
 (884, 0.0),
 (885, 0.0),
 (886, 0.0),
 (887, 0.0),
 (888, 0.0),
 (889, 0.0),
 (890, 0.0),
 (891, 0.0),
 (892, 0.0),
 (893, 0.0),
 (894, 0.050617679670368544),
 (895, 0.0),
 (896, 0.0),
 (897, 0.0),
 (898, 0.0),
 (899, 0.0221824882219465),
 (900, 0.0),
 (901, 0.02271963231204522),
 (902, 0.0),
 (903, 0.0),
 (904, 0.0),
 (905, 0.0),
 (906, 0.0),
 (907, 0.0),
 (908, 0.0),
 (909, 0.0),
 (910, 0.0),
 (911, 0.0),
 (912, 0.0),
 (913, 0.0),
 (914, 0.0),
 (915, 0.0),
 (916, 0.0),
 (917, 0.0),
 (918, 0.0),
 (919, 0.0),
 (920, 0.0),
 (921, 0.0),
 (922, 0.0),
 (923, 0.0),
 (924, 0.0),
 (925, 0.0),
 (926, 0.0),
 (927, 0.0),
 (928, 0.0),
 (929, 0.0),
 (930, 0.0),
 (931, 0.0),
 (932, 0.0),
 (933, 0.0),
 (934, 0.0),
 (935, 0.0),
 (936, 0.0),
 (937, 0.0),
 (938, 0.0),
 (939, 0.0),
 (940, 0.0),
 (941, 0.0),
 (942, 0.0924514241892011),
 (943, 0.0),
 (944, 0.0),
 (945, 0.0),
 (946, 0.03534592628030856),
 (947, 0.0),
 (948, 0.0),
 (949, 0.0),
 (950, 0.0),
 (951, 0.04852036191574938),
 (952, 0.0),
 (953, 0.0),
 (954, 0.0),
 (955, 0.0),
 (956, 0.0),
 (957, 0.0),
 (958, 0.0),
 (959, 0.0),
 (960, 0.0),
 (961, 0.0),
 (962, 0.0),
 (963, 0.0),
 (964, 0.0),
 (965, 0.0),
 (966, 0.0),
 (967, 0.0),
 (968, 0.0),
 (969, 0.0),
 (970, 0.0),
 (971, 0.0),
 (972, 0.06427195078268813),
 (973, 0.0),
 (974, 0.0),
 (975, 0.0),
 (976, 0.0),
 (977, 0.0),
 (978, 0.0),
 (979, 0.0),
 (980, 0.0),
 (981, 0.0),
 (982, 0.0),
 (983, 0.0),
 (984, 0.0),
 (985, 0.0549577488772478),
 (986, 0.0),
 (987, 0.0),
 (988, 0.0),
 (989, 0.0),
 (990, 0.0),
 (991, 0.0),
 (992, 0.0),
 (993, 0.0),
 (994, 0.0),
 (995, 0.0),
 (996, 0.0),
 (997, 0.0),
 (998, 0.0),
 (999, 0.01932653002823056),
 ...]

In [51]:
sim_scorse=sorted(sim_scorse, key=lambda x:x[1], reverse=True)
sim_scorse=sim_scorse[1:11]
sim_scorse

[(3604, 0.1868100105621205),
 (2130, 0.17015105119162663),
 (634, 0.13230696630317224),
 (1341, 0.12393264590871877),
 (529, 0.12248959164893025),
 (1610, 0.1046990303761563),
 (311, 0.10091388184065114),
 (847, 0.09799623121705055),
 (775, 0.09447938436890334),
 (2628, 0.09313854469530522)]

In [52]:
movie_indices = [i[0] for i in sim_scorse]
movie_indices

[3604, 2130, 634, 1341, 529, 1610, 311, 847, 775, 2628]

In [53]:
titles = df['title'].loc[movie_indices]
titles

3604                       Apollo 18
2130                    The American
634                       The Matrix
1341            The Inhabited Island
529                 Tears of the Sun
1610                           Hanna
311     The Adventures of Pluto Nash
847                         Semi-Pro
775                        Supernova
2628             Blood and Chocolate
Name: title, dtype: object

In [54]:
def get_recommendations(title, cosine_sim=cosine_sim):
  idx = df[df['title']==title].index[0]
  sim_scorse = list(enumerate(cosine_sim[idx]))
  sim_scorse=sorted(sim_scorse, key=lambda x:x[1], reverse=True)
  sim_scorse=sim_scorse[1:11]
  movie_indices = [i[0] for i in sim_scorse]
  titles = df['title'].loc[movie_indices]
  return titles

In [56]:
get_recommendations('Avatar')

3604                       Apollo 18
2130                    The American
634                       The Matrix
1341            The Inhabited Island
529                 Tears of the Sun
1610                           Hanna
311     The Adventures of Pluto Nash
847                         Semi-Pro
775                        Supernova
2628             Blood and Chocolate
Name: title, dtype: object

In [55]:
df['title']

0                                         Avatar
1       Pirates of the Caribbean: At World's End
2                                        Spectre
3                          The Dark Knight Rises
4                                    John Carter
                          ...
4798                                 El Mariachi
4799                                   Newlyweds
4800                   Signed, Sealed, Delivered
4801                            Shanghai Calling
4802                           My Date with Drew
Name: title, Length: 4803, dtype: object

In [59]:
movies=df[['id', 'title']].copy()
movies

          id                                     title
0      19995                                    Avatar
1        285  Pirates of the Caribbean: At World's End
2     206647                                   Spectre
3      49026                     The Dark Knight Rises
4      49529                               John Carter
...      ...                                       ...
4798    9367                               El Mariachi
4799   72766                                 Newlyweds
4800  231617                 Signed, Sealed, Delivered
4801  126186                          Shanghai Calling
4802   25975                         My Date with Drew

[4803 rows x 2 columns]

In [60]:
cosine_sim

array([[1.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 1.        , 0.        , ..., 0.02160533, 0.        ,
        0.        ],
       [0.        , 0.        , 1.        , ..., 0.01488159, 0.        ,
        0.        ],
       ...,
       [0.        , 0.02160533, 0.01488159, ..., 1.        , 0.01609091,
        0.00701914],
       [0.        , 0.        , 0.        , ..., 0.01609091, 1.        ,
        0.01171696],
       [0.        , 0.        , 0.        , ..., 0.00701914, 0.01171696,
        1.        ]])

In [62]:
import pickle
pickle.dump(movies, open('data/movies.pickle', 'wb'))
pickle.dump(cosine_sim, open('data/cosine_sim.pickle', 'wb'))